html
  head
    title Open City Toolkit

    link(rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/lib/leaflet/leaflet.css")
    link(rel="stylesheet" href="/lib/leaflet-draw/leaflet.draw.css")
    link(rel='stylesheet' href="/lib/leaflet-measure/leaflet-measure.css")

    script(src="/lib/jquery/jquery.min.js")
    script(src="/lib/bootstrap/js/bootstrap.bundle.min.js")
    script(src="/lib/leaflet/leaflet.js")
    script(src="/lib/leaflet-draw/leaflet.draw.js")
    script(src="/lib/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js")
    script(src="/lib/leaflet-measure/leaflet-measure.js")
    script(src="/lib/leaflet-plugins/leaflet.legend.js")
    script(src="/lib/leaflet-plugins/leaflet.getfeatureinfo.js")
    script(src="/lib/split/split.js")
    script 
      include ../results-modal/script.js
    style
      include style.css
      include ../map/style.css
      include ../results-modal/style.css
      include ../table-attributes-modal/style.css

  body
    div(class="d-flex flex-column h-100")
      div(class="card box-shadow")
        nav(class="navbar navbar-expand navbar-light")
          a(class="navbar-brand font-weight-bold") #{t['Open City Toolkit']}
          ul(class="navbar-nav flex-grow-1 justify-content-space-evenly")
            li(class="nav-item d-flex align-items-center")
              span(class="d-inline-block align-middle m-2") #{t['Modules']}:
              select(id="launch-module-menu" class="custom-select custom-select-lg mr-2")
                option(selected value="time_map") #{t['Calculate time map']}
                option(value="query") #{t['Query area']}
                option(value="cotopaxi_scenarios") #{t['Cotopaxi eruption scenarios']}
              button(class="btn btn-success btn-lg mr-2" onclick="launchModule()") ▷&nbsp;#{t['Run']}
              button(class='btn btn-light btn-lg' id="result-btn" onclick='onClickResults()') #{t['Results']}
            li(class="nav-item flex-grow-1")
            li(class="nav-item dropdown")
              a(class="btn btn-lg nav-link dropdown-toggle" id="settings-menu" data-toggle="dropdown") #{t['Settings']}
              div(class="dropdown-menu dropdown-menu-right")
                a(class="btn dropdown-item" onclick="launchSettings('add_location')") #{t['Set basemap']}
                div(class="dropdown-divider")
                a(class="btn dropdown-item" onclick="launchSettings('set_selection')") #{t['Set selection']}
                div(class="dropdown-divider")
                a(class="btn dropdown-item" onclick="launchSettings('set_resolution')") #{t['Set resolution']}
                div(class="dropdown-divider")
                a(class="btn dropdown-item" onclick="launchSettings('add_map')") #{t['Add layer']}
            li(class="nav-item")
              a(class="btn btn-secondary btn-lg" href="https://github.com/citysciencelab/open-city-toolkit/wiki/Open-City-Toolkit-%E2%80%90-User-manual" target="_blank") #{t['Help']}

      div(class="d-flex flex-grow-1 main")
        div(id="sidebar" class="d-flex flex-column sidebar")
          div(id="dialog" class="flex-grow-1 card card-border box-shadow")
            div(id="textarea")
            div(id="lists")
            div(id="buttonarea" class="btn-group")

          div(class="card flex-row justify-content-center")
            div(class="d-block")
              img(src="images/giz-logo.gif" id="giz-logo")
              img(src="images/hcu-logo.png" id="hcu-logo")

        div(id="map-container" class="col card box-shadow")
          include ../map/index.pug

        div(id="alert-anchor")

        div(id="loading")
          div(class="loading-text") #{t['Processing']} …
          div(class="spinner spinner-border")

    div(id="results-modal" class="modal-background")
      include ../results-modal/index.pug

    div(id="table-attributes-modal" class="modal-background")
      include ../table-attributes-modal/index.pug

    script.
      // enable Bootstrap tooltip on module select
      const options = {
        placement: 'bottom',
        title: function () {
          switch ($(this).val()) {
            case 'time_map': return "#{t['tooltip:time map']}";
            case 'query': return "#{t['tooltip:query']}";
            case 'cotopaxi_scenarios': return "#{t['tooltip:cotopaxi scenarios']}";
          }
        },
        trigger: 'manual'
      };
      const target = $('#launch-module-menu');
      target.tooltip(options);
      target.on('focusin change', () => target.tooltip('show'));
      target.on('focusout', () => target.tooltip('hide'));

      // split pane
      Split(['#sidebar', '#map-container'], {
        sizes: [25, 75],
        minSize: [175, 350]
      })

      // environment variables
      const geoserverUrl = '#{geoserverUrl}';
      const [lat, lon] = [#{lat}, #{lon}];
      const t = !{JSON.stringify(t)};
    script
      include ../map/config.js
      include ../map/script.js
      include ../table-attributes-modal/script.js
      include script.js
